.dropzone {
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(201 201 201);
}

.dropzone-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dropzone.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-box {
  width: 120px;
  height: auto;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 1px solid #e1dfdd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: initial;
}

.file-box svg {
  max-width: 50%;
  margin-bottom: 5px;
}

.file-box p {
  font-size: 13px;
  color: #605e5c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 18px;
  display: block;
  position: relative;
}

p.file-size {
  margin-bottom: 6px;
}

.file-image {
  width: 50%;
}

.file-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.icon-button {
  min-width: 32px;
  height: 32px;
}

.file-box.selected {
  background: aliceblue;
}

.ribbon-dropzone-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes easeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeOutToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.easeIn {
  animation: easeInFromBottom 0.5s ease forwards;
}

.easeOut {
  animation: easeOutToBottom 0.5s ease forwards;
}

.wideRibbon {
  width: 100%;
}

.selectedFilesBox {
  position: absolute;
  right: 0;
  bottom: 5px;
}
.spinner-box {
  display: flex;
  width: 100%;
  justify-content: center;
}
